<ion-header>
  <ion-navbar>
    <ion-title>LOGIN</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap no-lines>
      <ion-avatar item-start>
        <img src="assets/imgs/Login2-WF.png">
      </ion-avatar>
      <p>Introduzca su usuario y contraseña y pulse aceptar</p>
    </ion-item>
    <form [formGroup]="loginForm" no-lines>
      <ion-item>
        <ion-label stacked>USUARIO</ion-label>
        <ion-input formControlName="login" type="text" [(ngModel)]="login"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.controls.login.valid  && submitAttempt" no-lines>
        <p style="color:red">Se necesita un usuario.</p>
      </ion-item>   
      <ion-item>
        <ion-label stacked>CONTRASEÑA</ion-label>
        <ion-input formControlName="password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="!loginForm.controls.password.valid  && submitAttempt" no-lines>
        <p style="color:red">Se necesita una contraseña.</p>
      </ion-item>         
    </form>
    <ion-item no-lines>
      <button ion-button outline item-end round icon-left (click)="doLogin()">
        <ion-icon name="checkmark"></ion-icon>
        Aceptar
      </button>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span style="font-size:0.8em;">(c) Ariadna Software SL 2018</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>