page-modal-oferta-cabecera {
    .grptitle {
        background-color: #718dba;
        color: white;
    }

    .mas {
        margin-left: 65%;
        margin-top: 0;
    }

    form {
        border: 1px solid black;
    }

    .expand {
        height: 80px;
    }
}
