<ion-header>
  <ion-navbar>
    <ion-title>ARTICULOS (DETALLE)</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()" class="myGreen">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item no-lines class="grptitle" text-wrap>
      <div>
        <strong>Artículo:</strong> {{articulo.nomartic}}
      </div>
      <div>
        <div>
          <strong>Familia: </strong>{{articulo.nomfamia}}
        </div>
        <div>
          <strong>Proveedor: </strong>{{articulo.nomprove}}
        </div>
        <div>
          <strong>Referencia: </strong>{{articulo.referprov}}
        </div>
      </div>
    </ion-item>
    <ion-item text-wrap>
      <div>
        <strong>Precio: </strong>{{articulo.preciove}}
        <strong>Stock total: </strong>{{articulo.stock}}
      </div>
      <div>
        <strong>Reservas: </strong>{{articulo.reservas}}
        <strong>Pedidos: </strong>{{articulo.pedido}}
        <strong>Rotacion: </strong>{{articulo.rotacion}}
      </div>
    </ion-item>
    <ion-item no-lines class="grptitle">
      STOCK POR ALMACEN
    </ion-item>
      <ion-item >
          <ion-grid style=" border: 1px solid grey;" no-padding>
              
              <div *ngFor="let almacen of articulo.almacenes">
                <div *ngIf="almacen.stockalm > 0">
                    <ion-row [ngClass]="{'color': almacen.contador%2 > 0}">
                        <ion-col col-4 >
                            {{almacen.nomalmac}}
                        </ion-col>
                        <ion-col  col-8 style="text-align:right;">
                            {{almacen.stockalm}}
                        </ion-col>
                      </ion-row>
                </div>
              </div>
            </ion-grid>
      </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span style="font-size:0.8em;">(c) Ariadna Software SL 2018</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>