page-edicion-oferta {
    .grptitle {
        background-color: #718dba;
        color: white;
    }

    .black{
        color: black;
        font-size: 1.3em
    }

    .text-input[disabled] {
        opacity: 1;
    }

}
