<ion-header>
  <ion-navbar>
    <ion-title>PROVEEDORES (DETALLE)</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()" class="myGreen">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item no-lines class="grptitle" text-wrap>
      <div>
        <div>{{proveedor.nomprove}}</div>
        <div>{{proveedor.nifprove}}</div>
      </div>
      <div>
        <div>{{proveedor.domprove}}</div>
        <div>({{proveedor.codpobla}}) {{proveedor.pobprove}}</div>
        <div>{{proveedor.proprove}}</div>
      </div>
    </ion-item>
    <ion-item text-wrap>
      <div class="grptitle2">
        Administración
      </div>
    </ion-item>
    <ion-item text-wrap>
      {{proveedor.perprov1}} ({{proveedor.telprov1}})
      <ion-icon name="call" item-end></ion-icon>
    </ion-item>
    <ion-item text-wrap>
      {{proveedor.maiprov1}}
      <ion-icon name="mail" item-end></ion-icon>
    </ion-item>
    <ion-item text-wrap>
      <div class="grptitle2">
        Comercial
      </div>
    </ion-item>
    <ion-item text-wrap>
      {{proveedor.perprov2}} ({{proveedor.telprov2}})
      <ion-icon name="call" item-end></ion-icon>
    </ion-item>
    <ion-item text-wrap>
      {{proveedor.maiprov2}}
      <ion-icon name="mail" item-end></ion-icon>
    </ion-item>
    <ion-item no-lines class="grptitle">
      Descuentos
    </ion-item>
    <div *ngIf="descuentos.length > 0">
      <ion-item *ngFor="let descuento of descuentos" text-wrap>
        <ion-grid>
          <ion-row>
            <ion-col>
              <strong>Fecha:</strong> {{descuento.fechadto}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto col-sm>
              <strong>Familia: </strong> {{descuento.nomfamia}}
            </ion-col>
            <ion-col col-auto col-sm>
              <strong>Marca: </strong> {{descuento.nomarca}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto col-sm>
              <strong>Dto1: </strong> {{descuento.dtoline1}}
            </ion-col>
            <ion-col col-auto col-sm>
              <strong>Dto2: </strong> {{descuento.dtoline2}}
            </ion-col>
            <ion-col col-auto col-sm>
              <strong>Rap1: </strong> {{descuento.rap1}}
            </ion-col>
            <ion-col col-auto col-sm>
              <strong>Rap2: </strong> {{descuento.rap2}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span style="font-size:0.8em;">(c) Ariadna Software SL 2021</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>