page-proveedores-detalle {
    .grptitle {
        background-color: #718dba;
        color: white !important;
    }
    .grptitle2 {
        background-color: #718dba;
        color: white !important;
        padding: 5px;
    }
    p {
        color: white !important;
    }

    ion-toolbar {
        text-align: center;
    }

    ion-header {
        text-align: center;
    }
    
     ion-header ion-icon.back-button-icon.icon {
        color: #718dba;
    }
    
}
