page-cli-albaranes-detalle {
    .grptitle {
        background-color: #718dba;
        color: white;
    }

    ion-toolbar {
        text-align: center;
    }

    ion-header {
        text-align: center;
    }
    
     ion-header ion-icon.back-button-icon.icon {
        color: #718dba;
    }
    
}
