// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {
    text-align: center;
}
ion-toolbar {
    text-align: center;
}

.psb {
    padding: 5px;
    border: solid;
    border-radius: 30px;
    border-color: #718dba;
    border-width: 3px;
    text-align: center;
 }
 
 .myGreen {
     color: #718dba;
 }
 ion-header ion-icon.back-button-icon.icon {
    color: #718dba;
}

.item-md ion-thumbnail {
    min-width: 0px;
    min-height: 0px;
    width: 7rem;    
    img {
        width: 60%;    
        height: 60%;
        margin-left: 20%
    }
}