<ion-header>
  <ion-navbar>
    <ion-title>ARTICULOS (BUSCAR)</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()" class="myGreen">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-wrap no-lines>
        <ion-thumbnail item-start>
            <div class="psb">
                <img src="assets/imgs/articulos.png">
            </div>
          </ion-thumbnail>
      <p>Introduca los criterios que desee y pulse buscar</p>
    </ion-item>
    <form [formGroup]="buscarArtForm" no-lines>
      <ion-item>
        <ion-label stacked>Nombre del articulo (* para sustituir caracteres )</ion-label>
        <ion-input type="text" [(ngModel)]="parnom" formControlName="parnom"></ion-input>
      </ion-item>
      <ion-item *ngIf="!buscarArtForm.controls.parnom.valid  && submitAttempt" no-lines>
        <p style="color:red">Debe introducir un valor.</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          Proveedor (al menos tres caracteres)
          <ion-icon name="search"></ion-icon>
        </ion-label>
        <ion-input type="text" [(ngModel)]="parpro"  [ngModelOptions]="{ standalone: true }" (ionChange)="onChangeProveedor()"></ion-input>
      </ion-item>
      <ion-list *ngIf="showProveedores">
        <ion-item style="font-size: 0.8em;" *ngFor="let proveedor of proveedores" (click)="selectProveedor(proveedor)">
          {{proveedor.nomprove}}
          <ion-icon name="checkmark-circle-outline" item-end></ion-icon>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label stacked>
          Familia (al menos tres caracteres)
          <ion-icon name="search"></ion-icon>
        </ion-label>
        <ion-input type="text" [(ngModel)]="parfam"  [ngModelOptions]="{ standalone: true }"  (ionChange)="onChangeFamilia()"></ion-input>
      </ion-item>
      <ion-list *ngIf="showFamilias">
        <ion-item style="font-size: 0.8em;" *ngFor="let familia of familias" (click)="selectFamilia(familia)">
          {{familia.nomfamia}}
          <ion-icon name="checkmark-circle-outline" item-end></ion-icon>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label stacked>
          Código de artículo
        </ion-label>
        <ion-input type="text" [(ngModel)]="codigo" [ngModelOptions]="{ standalone: true }"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <ion-label stacked>
          Incluir artículos obsoletos
        </ion-label>
        <ion-checkbox [(ngModel)]="obsole" [ngModelOptions]="{ standalone: true }"></ion-checkbox>
      </ion-item>

      <ion-item no-lines>
        <ion-label stacked>
          Solo rotación
        </ion-label>
        <ion-checkbox [(ngModel)]="rotacion" [ngModelOptions]="{ standalone: true }"></ion-checkbox>
      </ion-item>

    </form>
    <ion-item no-lines  class="myGreen">
      <button ion-button outline item-end round icon-left (click)="doSearch()">
        <ion-icon name="search"></ion-icon>
        Buscar
      </button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let articulo of articulos" (click)="goArticulo(articulo)">
      <h4>{{articulo.nomartic}}</h4>
      <ion-icon name="log-in" item-end class="myGreen"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span style="font-size:0.8em;">(c) Ariadna Software SL 2020</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>