<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{cliente.nomclien}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="goHome()" class="myGreen" end>
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item text-wrap no-lines>
        <ion-thumbnail item-start>
          <div class="psb">
              <img src="assets/imgs/articulos.png">
          </div>
        </ion-thumbnail>
        <p>Introduca parte del nombre del articulo del que quiere conocer el precio para este cliente y pulse buscar</p>
      </ion-item>
      <form [formGroup]="buscarArtForm" no-lines>
        <ion-item>
          <ion-label stacked>Nombre del articulo</ion-label>
          <ion-input formControlName="nomParcial" type="text" [(ngModel)]="nomParcial"></ion-input>
        </ion-item>
        <ion-item *ngIf="!buscarArtForm.controls.nomParcial.valid  && submitAttempt" no-lines>
          <p style="color:red">Debe introducir un valor.</p>
        </ion-item>
      </form>
      <ion-item no-lines class="myGreen">
        <button ion-button outline item-end round icon-left (click)="doSearch()">
          <ion-icon name="search"></ion-icon>
          Buscar
        </button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let articulo of articulos" (click)="goArticulo(articulo)" text-wrap>
        {{articulo.nomartic}}
        <div>
            <strong>Codigo:</strong> {{articulo.codartic}}
            <strong>PVP: </strong> {{articulo.precio.importe}}
            <strong>Stock: </strong> {{articulo.stock}}
        </div>
        <ion-icon name="log-in" class="myGreen" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-title>
        <span style="font-size:0.8em;">(c) Ariadna Software SL 2018</span>
      </ion-title>
    </ion-toolbar>
  </ion-footer>