page-cli-resumen {
    .grptitle {
        background-color: #718dba;
        color: white;
    }

    .row {
        padding: 5px;
        border-bottom: 1px solid  rgba(0, 0, 0, 0.12);
    }
    
    
}
