<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{cliente.nomclien}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()" end>
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item no-lines class="grptitle">
      Indicadores
    </ion-item>
    <ion-item text-wrap>
    <ion-grid class="letra">
      <ion-row >
        <ion-col col-4>
          <strong>Ofertas: </strong> {{indicadores.ofertas}}
        </ion-col>
        <ion-col col-4>
          <strong>Pedidos: </strong> {{indicadores.pedidos}}
        </ion-col>
        <ion-col col-4>
          <strong>Albaranes: </strong> {{indicadores.albaranes}}
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col col-auto col-sm>
          <strong>Saldo: </strong> {{indicadores.saldoPendiente}}
        </ion-col>
        <ion-col col-auto col-sm>
          <strong>Saldo Vencido: </strong> {{indicadores.saldoVencido}}
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col col-12>
          <strong>Situación: </strong> {{cliente.situacio}}
        </ion-col>
      </ion-row>
   
      <ion-row>
        <ion-col col-12>
          <strong>Agente: </strong> {{cliente.nomagent}}
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col col-12>
          <strong>F.Pago: </strong> {{cliente.nomforpa}}
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col col-auto col-sm>
          <strong>Limite de crédito: </strong> {{cliente.limiteCredito}}
        </ion-col>
        <ion-col col-auto col-sm>
          <strong>Tipo crédito: </strong> {{cliente.nomCreditoPrivado}}
        </ion-col>
      </ion-row>
    
    <ion-row>
      <ion-col  col-12>
        <strong>Observaciones:</strong>
        <p>{{cliente.observac}}</p>
      </ion-col>
    </ion-row>
    
    </ion-grid>
  </ion-item>
  </ion-list>
 
  <ion-list>
    <ion-item no-lines class="grptitle">
      Cobros pendientes
    </ion-item>
    <ion-item *ngFor="let cobro of cobros" (click)="goCobro(cobro)">
      <div>
        <div>
          <strong>VEN: </strong> {{cobro.fechavenci}}
          <strong>TIP: </strong> {{cobro.nomforpa}}
        </div>
        <div>
          <strong>FAC: </strong> {{cobro.numfact}}
          <strong>FEC: </strong> {{cobro.fechafact}}
        </div>
        <div>
          <strong>IMP: </strong> {{cobro.total}}
        </div>
      </div>
      <ion-icon name="log-in" class="myGreen" item-end></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item no-lines class="grptitle">
        Facturación anual
    </ion-item>
    <ion-item no-lines *ngIf="misDatos.length > 0">
      
      <ion-grid style=" border: 1px solid grey;" no-padding>
        
        <div *ngFor="let dato of misDatos">
          <ion-row [ngClass]="{'color': dato.anyo%2 > 0}">
          <ion-col col-4 >
            {{dato.anyo}}
          </ion-col>
          <ion-col  col-8 style="text-align:right;">
              {{dato.valor}}
          </ion-col>
        </ion-row>
        </div>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span style="font-size:0.8em;">(c) Ariadna Software SL 2018</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>