<ion-header>
  <ion-navbar>
    <ion-title>CLIENTES (BUSCAR)</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()" class="myGreen">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item text-wrap no-lines>
      <ion-thumbnail item-start>
        <div class="psb">
          <img src="assets/imgs/clientes.png">
        </div>
      </ion-thumbnail>
      <p>Introduca parte del nombre del cliente y pulse buscar</p>
    </ion-item>
    <form [formGroup]="buscarCliForm" no-lines>
      <ion-item>
        <ion-label stacked>Nombre del cliente</ion-label>
        <ion-input formControlName="nomParcial" type="text" [(ngModel)]="nomParcial"></ion-input>
      </ion-item>
      <ion-item *ngIf="!buscarCliForm.controls.nomParcial.valid  && submitAttempt" no-lines>
        <p style="color:red">Debe introducir un valor.</p>
      </ion-item>
    </form>
    <ion-item no-lines class="myGreen">
      <button ion-button outline item-end round icon-left (click)="doSearch()">
        <ion-icon name="search"></ion-icon>
        Buscar
      </button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let cliente of clientes" (click)="goCliente(cliente)">
      <h4>{{cliente.nomclien}}</h4>
      <ion-icon name="log-in" item-end class="myGreen"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <span style="font-size:0.8em;">(c) Ariadna Software SL 2021</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>